html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.show {
	visibility: visible !important;
	opacity: 1 !important;
}

/* Painel de pontuação */

.score-panel {
	display: flex;
	flex-flow: row wrap;
	text-align: left;
	margin-bottom: 10px;
}

.stars {
	padding: 0;
}

.stars li {
	list-style: none;
	display: inline-block;
}

.fa-star {
	color: #ccc;
}

.fa-star.shine {
	color: #ffde00;
}

.score-panel .restart {
	float: right;
	cursor: pointer;
}

.stars,
.moves,
.timer {
	margin: 0 15px;
}

/* Estilos para o baralho de cartas */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card { 
    display: flex;
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #ffda06;
    font-size: 33px;
    -webkit-backface-visibility: visible;
	backface-visibility: visible;
}
.deck .card.unmatched {
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
	animation-duration: .75s;
	background: #ff0040;
}

.deck .card.disabled {
	pointer-events: none;
}

/* Popup de Parabéns*/

#congrats-popup {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.7);
	visibility: hidden;
	opacity: 0;
}

#congrats-popup .popup {
	background: white;
	margin: 20px;
	padding: 40px;
	border-radius: 10px;
	text-align: center;
}

#congrats-popup h2 {
	margin: 0;
}

#congrats-popup .summary {
	margin: 40px 0;
	font-size: 1.25rem;
}

#play-again {
	background-color: #2e3d49;
	font-size: 1.25rem;
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	border: none;
}

#play-again:hover {
	background-color: #02ccba;
	cursor: pointer;
}
